#        _ _   _
#   __ _(_) |_(_) __ _ _ __   ___  _ __ ___
#  / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
# | (_| | | |_| | (_| | | | | (_) | | |  __/
#(_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#  |___/         |___/
#
# A list of files for git to take no notice of.

# ignore .gitignore itseelf!
.gitignore

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

.gitignore
recentf

# Undo-tree save-files
*.~undo-tree

# LaTeX cruft
*.aux
*.dvi
*.log
